body {
  margin: 20px;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid;
  text-align: center;
  float: left;
  background-color: white;
}

.board-row {
  clear: both;
}

.status {
  padding: 10px;
}
